**/.dockerenv
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/out
**/publish
**/packages
**/TestResults
**/coverage
**/*.db
**/*.db-shm
**/*.db-wal
**/*.user
**/*.suo
**/*.log
**/tmpclaude-*
*.md
